*{
	text-align: center;
}
body{
	background-image: url("../images/background.png");
	
}
div{
	background-color: white;
	margin: 10px;
	width: 25%;
}
div{
	padding: 10px;
	box-sizing: border-box;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
	color: white;
}
ul{
	list-style: disc inside;
	text-indent: 20px;
}
div.header{
	background-color: #ff8533;
}
.instructions{
	color: green;
	background-color: #ffe6cc;
	font-weight: bold;

}
div.header, div.instructions{
	width: 50%;
	
}
.numberToMatch{
	color: purple;
	background-color: #00cc7a;
	font-size: 40px;
	width: 20%;
}
.winsAndLosses{
	background-color: #1affff;
	width: 10%;
}
.numberToMatch, .winsAndLosses{
	float: left;
	height: 100px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}